@font-face {
  font-family: "Avenir";
  src: local("Avenir"), url("../fonts/AvenirLTStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"), url("../fonts/HelveticaBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 auto;
  max-width: 1300px;
  font-size: 100%;
}
.head {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.left {
  display: flex;
  margin-top: 40px;
}
.left nav {
  margin-top: 5px;
  margin-left: 60px;
}
.left li {
  display: initial;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #4b5d68;
}
.left .fi1 {
  color: #212353;
  font-weight: 800;
}
.left li {
  margin-left: 50px;
}
.rite {
  margin-left: 400px;
}

.btn {
  margin-top: 50px;
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  text-align: left;
  padding: 10px 50px 10px 20px;
  border: 0px;
  cursor: pointer;
  background-image: url(../icons/Group56.png);
  background-position: 140px;
  background-size: 25px;
  background-repeat: no-repeat;
  text-align: left;
  border: none;
}
.btn:hover {
  background-color: #f063b8;
  color: white;
  border: 1px solid transparent;
  background-image: url(../icons/Group56.png);
  background-position: 140px;
  background-size: 25px;
  background-repeat: no-repeat;
}
.head a {
  text-decoration: none;
}
.era {
  margin-top: 100px;
  height: 500px;
  margin-left: 100px;
}
.era h1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 88px;
  color: #212353;
  width: 600px;
}
.era p {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #4b5d68;
  margin-top: 50px;
  width: 450px;
}

.bt2 {
  border: none;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #9c69e2;
  border-radius: 50px;
  padding: 12px 35px;
  margin-top: 30px;
}
.era .peop {
  float: right;
  border-radius: 80%;
  shape-outside: circle(80%);
}
.main {
  margin-top: 50px;
  margin-left: 130px;
  width: 1000px;
  display: flex;
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}
.main h2 {
  margin-top: 100px;
  margin-left: 30px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  align-items: center;

  color: #212353;
}
.main p {
  margin-top: 30px;
  margin-left: 30px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #4b5d68;
}
.ct2 {
  margin-top: 100px;
  text-align: center;
}
.ct2 h2 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #212353;
}
.ct2 p {
  margin-top: 50px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #4b5d68;
  width: 600px;
  margin-left: 350px;
}
.block3 {
  margin-top: 150px;
  display: flex;
}
.block3 h3 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #212353;
}
.block3 p {
  font-family: "Avenir";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #4b5d68;
  margin-top: 25px;
}
.bt3 {
  margin-top: 10px;
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  text-align: left;
  padding: 10px 50px 10px 20px;
  border: 0px;
  cursor: pointer;
  background-image: url(../icons/Group56.png);
  background-position: 120px;
  background-size: 25px;
  background-repeat: no-repeat;
  text-align: left;
  border: none;
}
.bt3:hover {
  background-color: #f063b8;
  color: white;
  border: 1px solid transparent;
  background-image: url(../icons/Group56.png);
  background-position: 120px;
  background-size: 25px;
  background-repeat: no-repeat;
}
.img3 {
  height: 200px;
  margin-top: 20px;
}
.left1 {
  margin-left: 120px;
  width: 470px;
  display: flex;
}
.left11 {
  margin-left: 30px;
}
.img4 {
  height: 180px;
  margin-top: 20px;
}
.rite1 {
  margin-left: 70px;
  width: 470px;
  display: flex;
}
.linebtn1 {
  margin-left: 350px;
}
.linebtn2 {
  margin-left: 370px;
}
.block4 {
  margin-top: 150px;
  display: flex;
}
.block4 h3 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #212353;
}
.block4 p {
  font-family: "Avenir";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #4b5d68;
  margin-top: 25px;
  width: 220px;
}
.left2 {
  margin-left: 70px;
  display: flex;
}
.left21 {
  margin-left: 30px;
}
.img5 {
  height: 200px;
  margin-top: 20px;
}
.rite2 {
  display: flex;
  margin-left: 80px;
}
.img6 {
  height: 200px;
}

.linebtn3 {
  margin-left: 350px;
}
.linebtn4 {
  margin-left: 370px;
}
.col1 {
  margin-top: 100px;
  width: 1300px;
  height: 600px;
  background-color: #9c69e2;
  border-radius: 50px;
}
.col2 {
  width: 1100px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  margin-left: 50px;
  margin-top: 100px;
  box-shadow: 0px 20px 0px #633f96;
  display: flex;
  padding-left: 100px;
  padding-top: 50px;
}
.col1 h4 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #ffffff;
  margin-left: 50px;
  padding-top: 100px;
}
.img76 {
  height: 100px;
}
.col21 h5 {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 29px;
  color: #212353;
}
.col21 a {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #9c69e2;
  text-decoration: none;
}
.col21 p {
  width: 550px;
  margin-top: 30px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #4b5d68;
}
.dote {
  margin-top: 50px;
  margin-left: 60px;
}
.imeg57 {
  margin-left: 1050px;
}
footer {
  margin-top: 100px;
}
.firtele {
  display: flex;
  margin-left: 50px;
}
h6 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #212353;
}
.left3 p {
  margin-top: 10px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #4b5d68;
}
.rite3 {
  margin-top: 13px;
  height: 60px;
  display: flex;
  margin-left: 540px;
}
.bt5 {
  border: none;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #f063b8;
  border-radius: 50px;
  padding: 12px 35px;
}
.bt6 {
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  text-align: left;
  padding: 10px 50px 10px 20px;
  border: 0px;
  cursor: pointer;
  background-image: url(../icons/Group56.png);
  background-position: 140px;
  background-size: 25px;
  background-repeat: no-repeat;
  text-align: left;
  border: none;
  margin-left: 30px;
}
.bt6:hover {
  background-color: #f063b8;
  color: white;
  border: 1px solid transparent;
  background-image: url(../icons/Group56.png);
  background-position: 140px;
  background-size: 25px;
  background-repeat: no-repeat;
}
.foot2 {
  display: flex;
  margin-left: 50px;
  margin-top: 150px;
}
.fot21 h6 {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 32px;
  color: #212353;
  margin-left: 10px;
}
.fot211 {
  display: flex;
  width: 300px;
}
.mgi {
  margin-top: -5px;
}
.fot212 {
  margin-top: 55px;
}
.fot212 p {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #212353;
}
.fot213 {
  margin-top: 30px;
}
.fot213 p {
  font-family: "Avenir";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29 px;
  letter-spacing: 0.01em;
  color: #212353;
}
.fot214 {
  margin-top: 100px;
}
.fot214 {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #212353;
}
.fot22 {
  margin-left: 350px;
}
.fot22 h6 {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #212353;
}
.fot222 {
  margin-top: 25px;
}
.fot22 p {
  font-family: "Avenir";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: #212353;
}
.fot23 {
  margin-left: 150px;
}
.fot23 h6 {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #212353;
}
.fot232 {
  margin-top: 25px;
}
.fot23 p {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: #212353;
}
.fot31 {
  margin-left: 150px;
}
.fot31 h6 {
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #212353;
}
.imgSM {
  margin-top: 25px;
}
.img65 {
  margin-top: 200px;
  margin-left: 150px;
}
